<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= book.status %>
  </p>

  <p>
    <strong>Borrowed at:</strong>
    <%= book.borrowed_at %>
  </p>

  <p>
    <strong>Returned at:</strong>
    <%= book.returned_at %>
  </p>

</div>
